@font-face{
	font-family: 'Tahoma';
	src: url('fonts/Tahoma-Regular.eot');
	src: url('fonts/Tahoma-Regular.eot?#iefix') format('embedded-opentype'),
				url('fonts/Tahoma-Regular.woff') format('woff'),
				url('fonts/Tahoma-Regular.svg') format('svg'),
				url('fonts/Tahoma-Regular.ttf') format('truetype'),
				url('fonts/Tahoma-Regular.svg#Tahoma-Regular') format('svg');
				font-weight: 400;
				font-size: normal;
}